__pycache__/
*.py[cod]

.venv/
venv/
env/

chrome_profile_*/
chrome_profile_test_*/
screenshots/
data/

config.json
tasks.json
accounts.json
custom_emails.json
*_token.json
*.log
nobreak

core_worker.py
filter_cookie.py
cookies/
chrome_dp_*/
yescaptcha_ext/config.js
test_headless.py
corrupted.py
logic_diff.txt
recover_diff.patch
